@charset "UTF-8";
/* 吃麵三式 */
.how-taste-sec {
    position: relative;
    display: flex;
    justify-content: center;
    overflow: hidden;
}
.how-taste-cnt {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px 0;
    position: relative;
}
.how-taste-steps {
    margin: 0 0 60px 0;
}

.ht-step-ico {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 12px !important;
    height: 12px;
    margin: 0 16px;
    background-color: #DEDEDE;
    opacity: 0.5;
    border-radius: 50%;
    cursor: pointer;
    transition: 0.3s;
}
.ht-step-ico.swiper-slide-thumb-active {
    background-color: #2C579B;
}
.ht-step-ico::before {
    display: block;
    content: '';
    width: calc(100% + 8px);
    height: calc(100% + 8px);
    position: absolute;
    z-index: -1;
    border: 1px solid #2C579B;
    border-radius: 50%;
    opacity: 0;
    transition: 0.3s;
}
.ht-step-ico.swiper-slide-thumb-active::before {
    opacity: 1;
}
.ht-step-ico::after {
    display: block;
    content: '';
    width: 20px;
    height: 1px;
    background-color: #2C579B;
    position: absolute;
    left: calc(100% + 6px);
}

.ht-step-ico:nth-last-child(1)::after {
    display: none;
}
.how-taste-showing {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100% !important;
    position: relative;
    padding: 160px 0 0 0;
}
.how-taste-msg-box {
    position: absolute;
    width: 50%;
    padding: 0 0 0 10%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    top: 50%;
    right: 0;
    text-align: center;
}
.how-taste-showing-msg {
    font-size: 20px;
    color: #2C579B;
    margin: 0 0 20px 0;
}
.how-taste-showing.swiper-slide-active .how-taste-showing-msg {
    -webkit-animation: fade-in-fwd 0.6s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
    animation: fade-in-fwd 0.6s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}
.how-taste-showing.amazing.swiper-slide-active .how-taste-showing-msg {
    opacity: 1;
    font-size: 24px;
    -webkit-animation: shake-vertical 0.8s cubic-bezier(0.455, 0.030, 0.515, 0.955) both;
    animation: shake-vertical 0.8s cubic-bezier(0.455, 0.030, 0.515, 0.955) both;
}
.how-taste-showing.special-source.swiper-slide-active .how-taste-showing-msg {
    opacity: 1;
    -webkit-animation: jello-horizontal 0.9s both;
    animation: jello-horizontal 0.9s both;
}
.how-taste-showing.finish-meal.swiper-slide-active .how-taste-showing-msg {
    opacity: 1;
    font-size: 24px;
    -webkit-animation: puff-in-center 1.2s cubic-bezier(0.470, 0.000, 0.745, 0.715) both;
    animation: puff-in-center 1.2s cubic-bezier(0.470, 0.000, 0.745, 0.715) both;
}
.how-taste-showing > img {
    display: block;
    width: 50%;
    opacity: 0;
    transition: 0;
}
.how-taste-showing.swiper-slide-active > img {
    opacity: 1;
}

/* 各餐點slider */
.meal-show-sec {
    display: flex;
    justify-content: center;
    position: relative;
}
.meal-show-sec::after {
    display: block;
    width: 100%;
    height: 100%;
    content: '';
    background: url(../img/light_gray_concrete_wall.jpg) repeat 50% 50%;
    background-size: cover;
    opacity: 0.3;
    position: absolute;
    z-index: -1;
}
.meal-show-cnt {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 0 40px 0;
    position: relative;
    overflow: hidden;
}
.meal-show-cnt::after {
    display: block;
    content: '';
    width: 100%;
    height: 1px;
    background-color: #DEDEDE;
    box-shadow: 0 1px 0 rgba(255,255,255,1);
    position: absolute;
    bottom: 1px;
}
.meal-show-sec:nth-of-type(5) > .meal-show-cnt::after {
    display: none;
}
.meal-show-title {
    font-family: 'Noto Serif TC';
    font-size: 96px;
    color: #132C53;
    opacity: 0.15;
}

/* 完整菜單 */
.full-menu-sec {
    display: flex;
    justify-content: center;
    position: relative;
    overflow: hidden;
}
.full-menu-decoration {
    position: absolute;

}
.full-menu-cnt {
    display: flex;
    flex-direction: column;
    position: relative;
    padding: 40px 0;
    /* z-index: 2; */
}
.menu-series-wrap {
    width: 100%;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.menu-series {
    padding: 35px 20px 21px 20px;
    border: 1px solid #2C579B;
    background-color: rgba(255,255,255,0.2);
    backdrop-filter: blur(8px);
    width: calc(50% - 15px);
    margin: 0 0 30px 0;
}
.menu-series.full {
    width: 100%;
}
.menu-series-title {
    font-family: 'Noto Serif TC';
    font-size: 24px;
    color: #2C579B;
    padding: 0 10px;
    font-weight: 700;
    margin: 0 auto;
}
.menu-item-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.menu-item {
    list-style: none;
    font-size: 20px;
    color: #585858;
    display: flex;
    width: calc(50% - 35px);
    padding: 0 40px 0 0;
    position: relative;
    margin: 0 0 14px 0;
}
.menu-item-list.full .menu-item {
    width: 100%;
}
.menu-item-note {
    font-size: 14px;
    color: #fff;
    background-color: #B92929;
    display: flex;
    justify-content: center;
    align-items: center;
    white-space: nowrap;
    flex-shrink: 0;
    padding: 2px 6px;
    margin: 0 0 0 6px;
}
.menu-item .price {
    white-space: nowrap;
    position: absolute;
    right: 0;
}
.full-menu-parallax-effect {
    width: 100%;
    height: 100%;
    position: absolute;
}
.full-menu-decoration {
    position: absolute;
    z-index: 1;
    width: 34%;
    padding-bottom: 34%;
    opacity: 0.55;
}
.full-menu-decoration.first {
    top: 10% !important;
    right: unset !important;
    bottom: unset !important;
    left: -5% !important;
}
.full-menu-decoration.second {
    top: 40% !important;
    right: -5% !important;
    bottom: unset !important;
    left: unset !important;
}
.full-menu-decoration > img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: contain;
}

/* Day Day Eat */
.dde-comic-wrap {
    width: 100%;
    position: relative;
    display: flex;
    justify-content: center;
}
.dde-comic {
    width: 12.33%;
    padding-bottom: 10.33%;
    position: relative;
    margin: 0 19px;
    opacity: 0.6;
}
.dde-comic > img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: contain;
    position: absolute;
}

/* Responsive */
@media (max-width: 1219.98px) {
    .how-taste-msg-box {
        padding: 0 0 0 2%;
    }
}
@media (max-width: 1019.98px) {
    .how-taste-msg-box {
        position: static;
        width: 100%;
        padding: 0 0 0 25%;
    }
    .how-taste-showing {
        padding: 30px 0 0 0;
        align-items: center;
    }
}
@media (max-width: 991.98px) {
    .menu-item {
        font-size: 16px;
    }
}
@media (max-width: 775.98px) {}
@media (max-width: 697.98px) {
    .meal-show-cnt {
        width: 100% !important;
    }
    .meal-show-cnt .swiper-button-prev,
    .meal-show-cnt .swiper-button-next {
        display: none;
    }
    .menu-item {
        width: 100%;
    }
    .menu-series {
        width: 100%;
    }
    .full-menu-decoration {
        width: 70%;
    }
    .dde-comic-wrap {
        flex-wrap: wrap;
    }
    .dde-comic {
        width: 32%;
        padding-bottom: 30%;
        display: flex;
        justify-content: center;
        margin: 0 8px;
    }
    .dde-comic > img {
        width: 80%;
    }
    .dde-comic:nth-child(3),
    .dde-comic:nth-child(4),
    .dde-comic:nth-child(5) {
        margin: 0;
    }
    .how-taste-msg-box {
        padding: 0 0 0 20px;
    }
    .how-taste-showing-msg {
        font-size: 18px;
    }
}
@media (max-width: 539.98px) {
    .meal-show-cnt {
        width: calc(100% - 40px) !important;
    }
    .meal-show-title {
        font-size: 60px;
    }
    .how-taste-msg-box {
        text-align: left;
        padding: 0;
    }
    .how-taste-showing > img {
        width: 100%;
    }
}
@media (max-width: 421.98px) {}
@media (max-width: 351.98px) {}
@media (max-width: 279.98px) {
    .meal-show-title {
        font-size: 48px;
    }
}

/* Animation */
@-webkit-keyframes fade-in-fwd {
    0% {
        -webkit-transform: translateZ(-80px);
                transform: translateZ(-80px);
        opacity: 0;
    }
    100% {
        -webkit-transform: translateZ(0);
                transform: translateZ(0);
        opacity: 1;
    }
}
@keyframes fade-in-fwd {
    0% {
        -webkit-transform: translateZ(-80px);
                transform: translateZ(-80px);
        opacity: 0;
    }
    100% {
        -webkit-transform: translateZ(0);
                transform: translateZ(0);
        opacity: 1;
    }
}
@-webkit-keyframes shake-vertical {
    0%,
    100% {
        -webkit-transform: translateY(0);
                transform: translateY(0);
    }
    10%,
    30%,
    50%,
    70% {
        -webkit-transform: translateY(-8px);
                transform: translateY(-8px);
    }
    20%,
    40%,
    60% {
        -webkit-transform: translateY(8px);
                transform: translateY(8px);
    }
    80% {
        -webkit-transform: translateY(6.4px);
                transform: translateY(6.4px);
    }
    90% {
        -webkit-transform: translateY(-6.4px);
                transform: translateY(-6.4px);
    }
}
@keyframes shake-vertical {
    0%,
    100% {
        -webkit-transform: translateY(0);
                transform: translateY(0);
    }
    10%,
    30%,
    50%,
    70% {
        -webkit-transform: translateY(-8px);
                transform: translateY(-8px);
    }
    20%,
    40%,
    60% {
        -webkit-transform: translateY(8px);
                transform: translateY(8px);
    }
    80% {
        -webkit-transform: translateY(6.4px);
                transform: translateY(6.4px);
    }
    90% {
        -webkit-transform: translateY(-6.4px);
                transform: translateY(-6.4px);
    }
}
@-webkit-keyframes jello-horizontal {
    0% {
        -webkit-transform: scale3d(1, 1, 1);
                transform: scale3d(1, 1, 1);
    }
    30% {
        -webkit-transform: scale3d(1.25, 0.75, 1);
                transform: scale3d(1.25, 0.75, 1);
    }
    40% {
        -webkit-transform: scale3d(0.75, 1.25, 1);
                transform: scale3d(0.75, 1.25, 1);
    }
    50% {
        -webkit-transform: scale3d(1.15, 0.85, 1);
                transform: scale3d(1.15, 0.85, 1);
    }
    65% {
        -webkit-transform: scale3d(0.95, 1.05, 1);
                transform: scale3d(0.95, 1.05, 1);
    }
    75% {
        -webkit-transform: scale3d(1.05, 0.95, 1);
                transform: scale3d(1.05, 0.95, 1);
    }
    100% {
        -webkit-transform: scale3d(1, 1, 1);
                transform: scale3d(1, 1, 1);
    }
}
@keyframes jello-horizontal {
    0% {
        -webkit-transform: scale3d(1, 1, 1);
                transform: scale3d(1, 1, 1);
    }
    30% {
        -webkit-transform: scale3d(1.25, 0.75, 1);
                transform: scale3d(1.25, 0.75, 1);
    }
    40% {
        -webkit-transform: scale3d(0.75, 1.25, 1);
                transform: scale3d(0.75, 1.25, 1);
    }
    50% {
        -webkit-transform: scale3d(1.15, 0.85, 1);
                transform: scale3d(1.15, 0.85, 1);
    }
    65% {
        -webkit-transform: scale3d(0.95, 1.05, 1);
                transform: scale3d(0.95, 1.05, 1);
    }
    75% {
        -webkit-transform: scale3d(1.05, 0.95, 1);
                transform: scale3d(1.05, 0.95, 1);
    }
    100% {
        -webkit-transform: scale3d(1, 1, 1);
                transform: scale3d(1, 1, 1);
    }
}
@-webkit-keyframes puff-in-center {
    0% {
        -webkit-transform: scale(2);
                transform: scale(2);
        -webkit-filter: blur(4px);
                filter: blur(4px);
        opacity: 0;
    }
    100% {
        -webkit-transform: scale(1);
                transform: scale(1);
        -webkit-filter: blur(0px);
                filter: blur(0px);
        opacity: 1;
    }
}
@keyframes puff-in-center {
    0% {
        -webkit-transform: scale(2);
                transform: scale(2);
        -webkit-filter: blur(4px);
                filter: blur(4px);
        opacity: 0;
    }
    100% {
        -webkit-transform: scale(1);
                transform: scale(1);
        -webkit-filter: blur(0px);
                filter: blur(0px);
        opacity: 1;
    }
}
  

  